[submodule "external/evds"]
	path = external/evds
	url = https://github.com/FoxWorks/EVDS
[submodule "external/ivss"]
	path = external/ivss
	url = https://github.com/FoxWorks/IVSS
[submodule "external/rdrs"]
	path = external/rdrs
	url = https://github.com/FoxWorks/RDRS
[submodule "external/mongo-c-driver"]
	path = external/mongo-c-driver
	url = https://github.com/mongodb/mongo-c-driver.git
[submodule "external/simc"]
	path = external/simc
	url = https://github.com/FoxWorks/SIMC
[submodule "external/qt-solutions"]
	path = external/qt-solutions
	url = git://gitorious.org/qt-solutions/qt-solutions.git
	
[submodule "external/GLC_lib"]
	path = external/GLC_lib
	url = https://github.com/PhoenixBlack/GLC_lib.git
